{% extends 'base.html'%}

{% block content%}
<style>
  section{
    padding:30px;
  }
  .footer-color{
    color:#fff;
  }
  #row{
    margin:12px;
    padding:8px;
  }
</style>
<section>
  <div class="row">
  {% for books in page_obj%} 
  <div class="col-sm-4">
    <div class="card" style="width:40em;">
      <img src="{{books.image.url}}">
      <div class="card-body">
        <h5 class="card-title" style="font-size:15;font-weight:900; color:#000;">{{books.name}}</h5>
        <p class="card-text" style="color:#000; flood-opacity: 1;">{{books.description | slice:":170"}}..</p>
        <a href="{%url 'book_detail' books.id %}" class="btn btn-primary">Read More</a>
      </div>
    </div>
  </div>  
  {%endfor%}
  <div id ='row'>
    <div class="pagination">
      <span class="step-links">
          {% if page_obj.has_previous %}
              <a href="?page=1">&laquo; first</a>
              <a href="?page={{ page_obj.previous_page_number }}">previous</a>
          {% endif %}
  
          <span class="current">
              Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
          </span>
  
          {% if page_obj.has_next %}
              <a href="?page={{ page_obj.next_page_number }}">next</a>
              <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
          {% endif %}
      </span>
  </div>

  </div>
  
  
</section>
{% endblock %}
