{%extends 'base.html' %}

{% block content %}
<div class="section" style="padding:30px;">
    <div class="row">
        <!-- Blog Entries Column -->
        <div class="col-md-8 mt-3 left">
            {% for p in queryset %}
            <div class="card mb-4">                   
                <div class="card-body" style="background-color:#f2f2f2;">
                    <h2 class="card-title" style="color:#000;">{{ p.title }}</h2>
                    <p class="card-text text-muted h6">{{ p.profile }} | {{ p.created_on}} </p>
                    <p class="card-text">{{ p.body|slice:":200" }} </p>
                    <a href="{% url 'detail' p.slug  %}" class="btn btn-primary">Read More &rarr;</a>        
                </div>
            </div>
            {% endfor %}            
        </div>
        {% block sidebar %} {% include 'partials/sidebar.html' %} {% endblock sidebar %}       
    </div>    
</div>

{% endblock %}
